/************************  *************************/

/* 	               Memes - Desktop   	           */

/************************  *************************/

.meme_generator {
    .left {
        .top {
            margin: 0 auto 20px;
            text-align: center;

            button.icon {
                border-radius: 5px;
                display: inline-block;
                margin-top: 0;
                transform: translateY(-1px);
                transition: 150ms;
            }
        }

        .meme {
            display: inline-block;
            position: relative;

            canvas {
                left: 0;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }
    }

    .right {
        padding: 0 0 0 30px;
    }

    .gallery {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .active {
            border: 5px solid var(--poncho_green);
            border-radius: 5px;
        }
    }
}

/************************  *************************/

/* 	               Memes - Mobile  	               */

/************************  *************************/

// @include media("xxl") {}

// @include media("xl") {}

// @include media("lg") {}

// @include media("md") {}

// @include media("sm") {}

// @include media("xs") {}

// @include media("xxs") {}

/************************  *************************/

/* 		            Memes - Print  		           */

/************************  *************************/

// @media print {}